<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tit.mapper.KakaoMapper">

	<insert id="kakaologin" parameterType="com.tit.model.LoginVO">
		insert into member
		(id,email,nickname,sns)
		values(#{id},#{email},#{nickname},"kakao");
	</insert>


	<select id="checkEmail" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM member WHERE email=#{email}
	</select>
	
	<select id="checkSns" parameterType="com.tit.model.LoginVO" resultType="string">
		SELECT sns FROM member WHERE id = #{id};
	</select>

</mapper>