<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tit.mapper.NaverMapper">

	<insert id="naverlogin" parameterType="com.tit.model.NaverVO">
		insert into member
		(id,email,nickname,sns)
		values(#{id},#{email},#{nickname},"naver");
	</insert>


	<select id="checkID" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM member WHERE id=#{id}
	</select>
	
	<select id="checkSns" parameterType="com.tit.model.NaverVO" resultType="string">
		SELECT sns FROM member WHERE id = #{id};
	</select>
	
	<delete id="naverlogout">
	delete from member where id=#{id}
	</delete>

</mapper>